---
import { Icon } from "astro-icon/components";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page Not Found">
  <div class="text-center flex flex-col items-center justify-center py-6 space-y-6 md:space-y-8">
    <div class="md:space-y-2 space-y-1">
      <h1 class="font-bold md:text-5xl text-3xl">Welp, this is awkward!</h1>
      <p class="md:text-2xl text-xl">We seem to have misplaced something…</p>
    </div>
    <a href="/" class="btn btn-primary md:text-xl text-lg"
      ><Icon name="heroicons:home-solid" />Go Home</a
    >
  </div>
</MainLayout>
