---

---

<footer class="w-full text-center bg-base-200 md:py-4 py-2">
  <small>
    Copyright &copy; <span id="copyright"></span> | All rights reserved
  </small>
</footer>

<script>
  document.querySelector("#copyright")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
