---
import { navData } from "@/data/nav-data";
import { Icon } from "astro-icon/components";
---

<nav class="navbar bg-base-300 md:px-12 sm:px-8 px-4">
  <div class="flex-1">
    <a href="/">
      <Icon
        name="logomark"
        class="text-primary color-transition w-[40px] md:w-[50px] h-auto"
        width={60}
        height={60}
      />
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      {
        navData.map(({ name, href }: NavData) => (
          <li class="color-transition">
            <a href={href} class="md:text-xl text-lg" data-navLink>
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<script>
  const navLinks = document.querySelectorAll("[data-navLink]");

  navLinks.forEach((link) => {
    if (link.getAttribute("href") === window.location.pathname) {
      link.classList.add("text-primary");
    }
  });
</script>
